{% extends 'home.html' %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Faktur Pajak</h1>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Site</th>
                    <th scope="col">Jurnal ID</th>
                    <th scope="col">Invoice</th>
                    <th scope="col">Year</th>
                    <th scope="col">Periode</th>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Faktur Pajak</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% if data %}
                {% for item in data %}
                <tr>
                    <td>{{ item['dossier_'] }}</td>
                    <td>{{ item['dgbk_ref'] }}</td>
                    <td>{{ item['fak__ref'] }}</td>
                    <td>{{ item['bkj__ref'] }}</td>
                    <td>{{ item['peri_ref'] }}</td>
                    <td>{{ item['kla__ref'] }}</td>
                    <td>{{ item['cde___ap'] }}</td>
                    <td><button class="btn btn-danger">Remove</button></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td>No Data</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}